name: Cowsay CI

on:
  push:
    branches:
      - main

jobs:
  build_application:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
    - name: Check out code
      uses: actions/checkout@v2
      # Allow the runner to check out the source code from the repository.

    - name: Run the application
      working-directory: ./src
      run: |
        npm i
        npm start &
        sleep 10
        kill $(jobs -p)

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and Test the Docker Image
      id: test-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: dev/cowsay
        IMAGE_TAG: latest
      run: |
        # Build the Docker image
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .

        # Run the container locally
        docker run -d -p 3001:8080 --name test-container $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

        # Wait for the application to start
        echo "Waiting for the application to start..."
        sleep 15

        # Test the application endpoint
        echo "Testing the application endpoint..."
        if ! curl --fail http://localhost:3001; then
          echo "Application test failed. Fetching logs..."
          docker logs test-container
          docker stop test-container
          docker rm test-container
          exit 1
        fi

        # Stop and remove the test container
        docker stop test-container
        docker rm test-container

    - name: Push the Image to ECR
      if: success() # Only push the image if all previous steps succeeded
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: dev/cowsay
        IMAGE_TAG: latest
      run: |
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
